@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--color-2);
}


/***************** ENCABEZADO - HEADER ***************/

.encabezado {
    /* background: red; */
    display: flex;
    width: 100%;
    height: 140px;
}
.marcar_agua {
    background: var(--color-1);
    display: flex;
    margin: auto;
    margin-right: 12%;
    width: 30%;
    height: 80px;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 48px;
    border-bottom-right-radius: 48px;
    gap: 5%;
}
.marcar_agua h1{
    background: transparent;
    font-size: 48px;
    font-family: "Roboto-Condensed-Regular";
    color: var(--color-2);
}
.marcar_agua img{
    background: transparent;
    width: 18%;
}
.categoria {
    /* background: pink; */
    display: flex;
    flex-direction: column;
    width: 115%;
    height: 60px;
    margin: auto;
    margin-top: 60px;
    margin-right: 20%;
}
.cateroias_hijas {
    /* background: blue; */
    width: 100%;
    display: flex;
    gap: 2.5%;
}

.cateroias_hijas h1{
    /* background: green; */
    width: 22%;
    font-size: 24px;
    font-family: "Roboto-Condensed-Bold";
    color: var(--color-1);
}
.lineas_Categoria {
    /* background: brown; */
    width: 110%;
}
.lineas_Categoria img{
    /* background: burlywood; */
}

.modo_iluminacion {
    /* background: skyblue; */
    margin-right: 3%;
    margin-top: 2.5%;
    display: flex;
    gap: 20%;
    width: 15%;
    height: 50px;
}
.modo_iluminacion img{
    /* background: aqua; */
    width: 50%;
}


/**************************** Seccion Main *******************/

.caja_main {
    /* background: red; */
    display: flex;
    width: 100%;
    height: 700px;
    margin-top: 1%;
}
.Crae_descripcion {
    /* background: rebeccapurple; */
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 5%;
    margin-right: 5%;
    gap: 5%;
}
.Crae_descripcion img{
    background: transparent;
}
.Crae_descripcion span{
    /* background: pink; */
    margin-left: 2%;
    font-size: 62.4px;
    font-family: "Roboto-Condensed-Regular";
    color: var(--color-1);
}
.Crae_descripcion p{
    /* background: brown; */
    margin-left: 2%;
    color: var(--color-1);
    width: 95%;
    font-size: 30px;
    font-family: "Roboto-Condensed-Regular";
}
.class_cartas {
    /* background: violet; */
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}
.class_cartas img{
    background: transparent;
    width: 100%;
    height: 600px;
}
.boton_compras {
    background: var(--color-1);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-bottom: 20px;
    width: 50%;
    height: 80px;
}
.boton_compras img{
    /* background: rgb(44, 50, 63); */
    width: 20%;
    height: auto;
}
.boton_compras p{
}
.boton_compras span{
    background: transparent;
    font-size: 40px;
    font-family: "Roboto-Condensed-Bold";
}
.redes_sociales {
    /* background: aqua; */
    display: flex;
    flex-direction: column;
    height: 190px;
    gap: 10%;
    margin-top: 25%;
}
.redes_sociales img{
    background: transparent;
    width: 50;
}


/****************** Article Section *****************/


.comojugar {
    /* background: red; */
    padding: 5px;
    width: 95%;
    height: 1920px;
    margin: auto;
    margin-top: 100px;
}
.div_comojugar {
    /* background: violet; */
    display: flex;
    height: 400px;
    flex-direction: column;
    align-items: center;
    gap: 24%;
}
.div_comojugar h1{
    /* background: blue; */
    text-align: center;
    color: var(--color-1);
    width: 25%;
    font-size: 64px;
    font-family: "Roboto-Condensed-Bold";
}
.div_comojugar p{
    /* background: yellow; */
    color: var(--color-1);
    font-size: 36px;
    font-family: "Roboto-Condensed-Regular";
    width: 40%;
    text-align: center;
}

/* caja 1 */

.paso1 {
    /* background: green; */
    display: flex;
    width: 100%;
    height: 220px;
    justify-content: center;
    gap: 5%;
}
.paso1 span{
    background: var(--color-1);
    color: var(--color-2);
    margin-top: 60px;
    border-radius: 100%;
    width: 6%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-family: "Roboto-Condensed-Bold";
}
.paso1 p{
    /* background: salmon; */
    color: var(--color-1);
    width: 55%;
    font-family: "Roboto-Condensed-Regular";
    text-align: start;
}
.paso1 img{
    /* background: silver; */
}

/* caja 2 */

.paso2 {
    /* background: green; */
    display: flex;
    width: 100%;
    height: 220px;
    justify-content: center;
    gap: 5%;
}
.paso2 span{
    background: var(--color-1);
    color: var(--color-2);
    margin-top: 60px;
    border-radius: 100%;
    width: 6%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-family: "Roboto-Condensed-Bold";
}
.paso2 p{
    color: var(--color-1);
    width: 55%;
    font-family: "Roboto-Condensed-Regular";
    text-align: start;
}
.paso2 img{
    /* background: silver; */
}
/* caja 3 */

.paso3 {
    /* background: green; */
    
    display: flex;
    width: 100%;
    height: 220px;
    justify-content: center;
    gap: 5%;
}
.paso3 span{
    background: var(--color-1);
    color: var(--color-2);
    margin-top: 60px;
    border-radius: 100%;
    width: 6%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-family: "Roboto-Condensed-Bold";
}
.paso3 p{
    color: var(--color-1);
    width: 55%;
    font-family: "Roboto-Condensed-Regular";
    text-align: start;
}
.paso3 img{
    /* background: silver; */
}

/* caja 4 */

.paso4 {
    /* background: green; */
    display: flex;
    width: 100%;
    height: 220px;
    justify-content: center;
    gap: 5%;
}
.paso4 span{
    background: var(--color-1);
    color: var(--color-2);
    margin-top: 60px;
    border-radius: 100%;
    width: 6%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-family: "Roboto-Condensed-Bold";
}
.paso4 p{
    color: var(--color-1);
    width: 55%;
    font-family: "Roboto-Condensed-Regular";
    text-align: start;
}
.paso4 img{
    /* background: silver; */
}

/* caja 5 */

.paso5 {
    /* background: green; */
    
    display: flex;
    width: 100%;
    height: 220px;
    justify-content: center;
    gap: 5%;
}
.paso5 span{
    background: var(--color-1);
    color: var(--color-2);
    margin-top: 60px;
    border-radius: 100%;
    width: 6%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-family: "Roboto-Condensed-Bold";
}
.paso5 p{
    color: var(--color-1);
    width: 55%;
    font-family: "Roboto-Condensed-Regular";
    text-align: start;
}
.paso5 img{
    /* background: silver; */
}






