:root{
    --color-1: #fff;
    --color-2: #141414;
}

@font-face {
    font-family: "Roboto-Condensed-Regular";
    src: url(../storage/font/Roboto_Condensed/static/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Condensed-Bold";
    src: url(../storage/font/Roboto_Condensed/static/RobotoCondensed-Bold.ttf);
}